body {
    background-color: #f3e7df;
    width: 1053px;
}

.top-bar {
    width: 100%;
    height: 50px;
    /* 外边距 */
    margin: 0;
    /* 是一种布局方式 */
    display: flex;
}

.box-top {
    width: 100%;
    min-width: 900px;
    /* 内边距 */
    padding: 20px;
}

.top-ui {
    width: 100%;
    min-width: 900px;
    height: 50px;
    /* 表示设置列表项目样式为不使用项目符号-去掉小黑点 */
    list-style: none;
    margin: 0px;
    padding-left: 55px;
}

.top-ui li {
    width: 25%;
    min-width: 50px;
    margin: -5px 50px 0 0px;
    float: left;
    text-align: center;
    display: block;
}

.top-ui a {
    color: #736862;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50%;
}

.top-ui a:hover {
    color: #cec5be;
}

.center {
    border-bottom: 1px solid #b9b0a2;
    width: 1050px;
    height: 600px;
    margin-left: 150px;

}


.content {
    width: 1000px;
    height: 400px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}

.content-project {
    display: inline;
    width: 160px;
    height: 160px;
    float: left;
    /* 上右下左 */
    margin: 10px 20px 30px 20px;
}

.project-01 {
    background-color: #a08577;
}

.project-02 {
    background-color: #b9a092;
}

.project-03 {
    background-color: #cfb4a6;
}

.project-04 {
    background-color: #e6d5cc;
}

.project-05 {
    background-color: #8d8782;
}

.project-06 {
    background-color: #a39c96;
}

.project-07 {
    background-color: #b9b0aa;
}

.project-08 {
    background-color: #cec5be;
}

.project-044 {
    background-color: #eaded8;
}

.project-09 {
    background-color: #b9b0aa;
}

.logo {
    padding-right: 30px;
    padding-top: 10px;
    float: right;
    display: block;
}

.interpretation {
    padding: 20px 50px 50px 0px;
}

.interpretation-ul {
    font-size: 14px;
    color: #736862;
    font-family: 'Times New Roman', Times, serif;
}

.footer{
    color: #736862;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50%;
    padding: 20px 0px 10px 10px;
    text-align: right;
}