@import url(./base.less);
@import url(./normalize.less);

@keyframes move-t {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }

}



.w {
    width: 1200px;
    margin: 100px auto;
}




.main {

    .tec {
        text-align: center;
        animation: move-t 0.3s ease-in-out;
        margin-bottom: 80px;

        h2,
        span {
            font-weight: 400;
        }

        .tec-doc {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            animation: move-t 0.8s ease-in-out;
            >div {
                width: 280px;
                height: 280px;
                .pic{
                    height: 180px;
                    border: 1px solid #ccc;
                    .picture01{
                        width: 260px;
                        height: 160px;
                        background:url(../img/css.png) no-repeat center center ;
                        background-size: cover;
                        margin: 10px;
                        box-shadow: 0 0.7px 1px transparent;   
                    }

                    .picture02{
                        width: 260px;
                        height: 160px;
                        background:url(../img/算法相关.jpg) no-repeat center center ;
                        background-size: cover;
                        margin: 10px;
                        box-shadow: 0 0.7px 1px transparent;   
                    }
                    .picture03{
                        width: 260px;
                        height: 160px;
                        background:url(../img/实例.jpg) no-repeat center center ;
                        background-size: cover;
                        margin: 10px;
                        box-shadow: 0 0.7px 1px transparent;   
                    }
            
                        
                    transition: all 0.8s;

                    &:hover {
                        box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
                        0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
                        0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
                        
                    }
                    
                }
            
                &:hover .pic{
                    border-bottom: 1px solid transparent;
                }
                .bottom{
                    height: 100px;
                    h4{
                        font-weight: 400;
                        font-size: 14px;
                        margin-top: 30px;
                        color: #303030;
                    }
    
                    span{
                        display: block;
                        margin-top: 20px;
                        font-size: 12px;
                        color: #303030;
                    }
                }

               
         

     
            }

        }
    }

    .life {
        text-align: center;
        animation: move-t 0.3s ease-in-out;
        
        h2,
        span {
            font-weight: 400;
        }

        .life-main {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            animation: move-t 0.8s ease-in-out;
            >div {
                width: 280px;
                height: 280px;
                .pic{
                    height: 180px;
                    border: 1px solid #ccc;
                    .picture01{
                        width: 260px;
                        height: 160px;
                        background:url(../img/路边野餐.png) no-repeat center center ;
                        background-size: cover;
                        margin: 10px;
                        box-shadow: 0 0.7px 1px transparent;   
                    }
            
                        
                    transition: all 0.8s;

                    &:hover {
                        box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
                        0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
                        0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
                        
                    }
                    
                }
            
                &:hover .pic{
                    border-bottom: 1px solid transparent;
                }
                .bottom{
                    height: 100px;
                    h4{
                        font-weight: 400;
                        font-size: 14px;
                        margin-top: 30px;
                        color: #303030;
                    }
    
                    span{
                        display: block;
                        margin-top: 20px;
                        font-size: 12px;
                        color: #303030;
                    }
                }

               
         

     
            }

        }
    }



}