body {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8));
}

.w {
    width: 1200px;
    margin: 0 auto;
    background-color: #0b0a0f;
}

/* header */
.header {
    height: 100px;
}

.header ul {
    display: flex;
    align-items: center;
    color: #c1acae;
    height: 100px;
}

.header ul li {
    padding: 0 20px;
}

.header ul li:nth-child(2n) {
    font-size: 14px;
}

/* banner */
.banner {
    margin-top: 20px;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner h2 {
    position: absolute;
    left: 20px;
    bottom: 90px;
    font-size: 40px;
    color: #cbb8b8;
}

.banner .dec-top {
    position: absolute;
    left: 20px;
    bottom: 40px;
    font-size: 18px;
    color: #cbb8b8;
}

.banner .dec-right {
    position: absolute;
    right: 4%;
    top: 29%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner .dec-right h2 {
    margin-left: 60px;
    font-size: 60px;
    color: #cbb8b8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner .dec-right span {
    font-size: 14px;
    color: #cbb8b8;
}

/* pinc-wall */

/* pic */
.pic-wall .pic-001 {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    height: 345px;
    display: flex;
}

.pic-001 .pic-l {
    position: relative;
    height: 315px;
    width: 490px;
}

.pic-wall .pic {
    width: 490px;
    height: 315px;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.pic-wall .pic-011 {
    width: 490px;
    height: 315px;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #c1acae;
}

.pic-wall .pic>div {
    width: 245px;
    height: 315px;
}

.pic-wall .pic-left {
    background: url(../images/01.jpg) left center;
    background-size: cover;
    transition: all 1s;
}

.pic-wall .pic-right {
    background: url(../images/01.jpg) right center;
    background-size: cover;
    transition: all 1s;
}

.pic-wall .pic:hover .pic-left {
    transform: translate(-104%, 0);
}

.pic-wall .pic:hover .pic-right {
    transform: translate(104%, 0);
}

.pic-002 .pic-002-l,
.pic-001 .pic-c {
    flex: 1;
    height: 315px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article p,
.pic-004 .last-r p,
.pic-003 .pic-003-r p,
.pic-002 .pic-002-l p,
.pic-001 .pic-c p {
    color: #efede9;
    font-size: 18px;
}

.article .size,
.pic-004 .last-r .size,
.pic-003 .pic-003-r .size,
.pic-002 .pic-002-l .size,
.pic-001 .pic-c .size {
    color: #cbb8b8;
    font-size: 40px;
}

/* 第二块 */
.pic-002 {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    height: 345px;
    display: flex;
    justify-content: flex-end;
}

.pic-wall .pic01 {
    transform-style: preserve-3d;
    transition: all 1s;
}

.pic-wall .pic01-top {
    width: 490px;
    height: 315px;
    padding: 20px;
    transform: translateY(-157.5px) rotateX(90deg);
    background-color: #c1acae;
}

.pic-004 .pic004-b h3,
.pic-003 .bv-info h3,
.pic-wall .pic-011 h3,
.pic-wall .pic01-top h3 {
    font-size: 22px;
    color: #3f3735;
}

.pic-004 .pic004-b p,
.pic-003 .bv-info p,
.pic-wall .pic-011 p,
.pic-wall .pic01-top p {
    margin-top: 30px;
    color: #3f3735;
    font-size: 18px;
}

.pic-wall .pic01-beh {
    width: 490px;
    height: 315px;
    background: url(../images/02.jpg) no-repeat center center;
    background-size: cover;
    transform: translateZ(157.5px);
}

.pic-wall .pic01:hover {
    transform: rotateX(-90deg);
}

/* 第三块 */
.pic-003 {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    height: 345px;
    display: flex;
}

.pic-003 .pic-003-r {
    flex: 1;
    height: 315px;
    background-color: #0b0a0f;
}

.pic-003 .bv {
    width: 490px;
    height: 315px;
    transform-style: preserve-3d;
    transition: all 1s;
    position: relative;
}

.pic-003 .bv img {
    position: absolute;
    left: 0;
    top: 0;
    width: 490px;
    height: 315px;
}

.pic-003 .bv-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 490px;
    height: 315px;
    padding: 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden ;
    background-color: #c1acae;

}

.pic-003 .bv:hover {
    transform: rotateY(180deg);
}

.pic-003 .pic-003-r {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 第四块 */
.pic-004 {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    height: 345px;
    display: flex;
    justify-content: flex-end;
}

.pic-wall .pic-02 {
    width: 490px;
    height: 315px;
    transform-style: preserve-3d;

}

.pic-wall .pic-02 .pic-in {
    width: 490px;
    height: 315px;
    background: url(../images/04.jpg) no-repeat center center;
    background-size: cover;
    transform: scale(0.8);
    opacity: 0;
    transition: all 1s;
}

.pic-wall .pic-02:hover .pic-in {
    transform: scale(1);
    opacity: 1;
}

.pic-wall .pic-02 {
    width: 490px;
    height: 315px;
    transform-style: preserve-3d;
    position: relative;
}

.pic-wall .pic-02 .pic-in {
    width: 490px;
    height: 315px;
    background: url(../images/04.jpg) no-repeat center center;
    background-size: cover;
    transform: scale(1);
    opacity: 1;
    transition: all 1s;
}

.pic-wall .pic-02:hover .pic-in {
    transform: scale(0.8);
    opacity: 0;
}

.pic-wall .pic-02>div {
    position: absolute;
    left: 0;
    top: 0;
}

.pic-wall .pic-02 .pic-in {
    z-index: 5;
}

.pic-004 .last-r {
    flex: 1;
    height: 315px;
    background-color: #0b0a0f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic004-b {
    width: 490px;
    height: 315px;
    padding: 20px;
    background-color: #c1acae;
}

.article {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.see {
    margin-top: 20px;
    height: 280px;
}

.see-dec {
    height: 255px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.see-dec li {
    width: 230px;
    height: 130px;
}

.see-dec li {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.see-dec li .spic {
    width: 100px;
    height: 100px;
    background-color: #c1acae;
}

.see-dec li span {
    width: 100px;
    font-size: 12px;
    color: #7e7f7a;

}

.see-dec li:nth-child(1) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 0;
}

.see-dec li:nth-child(2) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -100px;
}

.see-dec li:nth-child(3) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -200px;
}

.see-dec li:nth-child(4) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -300px;
}

.see-dec li:nth-child(5) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -400px;
}

.see-dec li:nth-child(6) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -500px;
}

.see-dec li:nth-child(7) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -600px;
}

.see-dec li:nth-child(8) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -700px;
}

.see-dec li:nth-child(9) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -800px;
}

.see-dec li:nth-child(10) div:first-child {
    background: url(../images/pepsi.jpg) no-repeat 0 -900px;
}

.center {
    padding: 20px 80px;
}

.footer {
    margin-top: 20px;
    height: 80px;
    font-size: 12px;
    color: #c1acae;
    text-align: center;
    line-height: 80px;
}

.fix a {
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.fix img {
    width: 80px;
    height: auto;
}

.fix p {
    font-size: 14px;
    font-weight: 700;
    color: #efede9;
}